{
  "swagger": "2.0",
  "info": {
    "title": "Bitxor Api-Rest Swagger",
    "description": "Bitxor Api-Rest Swagger",
    "version": "1.0.0"
  },
  "host": "genesis.bitxor.org:3001",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/accounts": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      },
      "post": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/accounts/{accountId}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/accounts/{accountId}/merkle": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/blocks": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/blocks/{height}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "height",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/blocks/{height}/transactions/{hash}/merkle": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "height",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/chain/info": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/finalization/proof/epoch/{epoch}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "epoch",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/finalization/proof/height/{height}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "height",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/network": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/network/properties": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/network/fees/transaction": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/network/fees/rental": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/node/health": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/node/info": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/node/peers": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/node/server": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/node/storage": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/node/time": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/node/unlockedaccount": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/transactions/{group}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "group",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {}
      },
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "group",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/transactions/{group}/{transactionId}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "group",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {}
      }
    }
  }
}